@import "variables";

.satellite-overlay-toggle {
  position: fixed;
  top: 120px;
  right: 0.5em;
  z-index: $map-overlay;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 9px;

  @media screen and (max-width: 600px) {
    top: 170px;
  }

  .satellite-overlay-toggle-button {
    cursor: pointer;
    width: 96px;
    height: 96px;
    opacity: 0.85;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.75em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.55);

    &.satellite-overlay-toggle-map {
      color: black;
    }

    &.satellite-overlay-toggle-active {
      outline: 2px solid rgba(255, 255, 255, 0.9);
    }

    &.native-toggle {
      background-size: 120%;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.35);
      background-blend-mode: multiply;
    }

    &:hover {
      opacity: 1;
    }

    .label {
      font-size: calc(#{$normal} * 1.5 - 4pt);
      font-family: $mainfont;
    }
  }

  .satellite-overlay-toggle-button:not(.native-toggle) {
    display: none;
  }
}
